/*
 * @Author: alonez 
 * @Date: 2017-12-01 22:54:41 
 * @Last Modified by: alonez
 * @Last Modified time: 2017-12-10 18:26:17
 */

 .detail {
    background: #F2F2F2;

    .btn-more {
        font-size: 15px;
        color: #349cec;
        text-align: center;
        display: block;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .detail-content {
        background: #FFFFFF;
        position: relative;
    
        .content-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #ededed;
            background-size: 4000%;
            background-repeat: no-repeat;
            background-position-y: 40%;
            backface-visibility: hidden;
        }
    
        .content-bg:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .7;
        }
    
        .content-body {
            display: flex;
            position: relative;
            padding: 4vh 5vw;
    
            .body-cover {
                position: absolute;
                height: 45vmin;
                width: 30vmin;
            }
    
            .body-text {
                color:#fff;
                display: flex;
                height: 50vmin;
                flex-direction: column;
                position: relative;
                margin-left: 40%;
                text-align: left;
    
                .text-title {
                    flex-shrink: 1;
                    flex-grow: 1;
                    margin-top: 2.5vmin;
                    line-height: 1.5rem;
    
                    .title-primary {
                        font-weight: 600;
                    }
    
                    .title-sub {
                        font-size: .8rem;
                    }
                }
    
                .text-type {
                    flex-shrink: 0;
                    flex-grow: 0;
                    margin-bottom: 1vmin;
                    line-height: 1.5rem;
                    
                    p {
                        font-size: .7rem;
                    }
                }
            }
        }
    
        .content-score {
            display: flex;
            color:#fff;
            position: relative;
            padding-left:5vw;
            margin-top:-2vh;
            padding-bottom:3vh;
    
            .score-text {
                width: 30%;
    
                .text-num {
                    font-size: 1.5625rem;
                    font-weight: 500;
                    color: #ffa84c;
                    line-height: 1;
                }
    
                .text-wrap {
                    text-align:center;
                    line-height: 1.5;
    
                    .wrap-text {
                        display: inline-block;
                        font-size: .75rem;
                        line-height: 1;
                        color: #ddd;               
                        margin-top: .25rem;
                        margin-top: 1.1vmin;
                        margin-bottom: .1875rem;
                        margin-bottom: .8vmin;
                    }
    
                    .wrap-people {
                        line-height: 1;
                        font-size: .5625rem;
                        color: #ddd;
                    }
                }
            }
    
            .score-star {
                margin-left: 8%;
    
                .star {
                    .star-bg {
                        float: left;
                        margin-top: .125rem;
                        margin-top: .5vmin;
                        width: 54.2px;
                        height: 8px;
                        background-size: auto 100%;
                        background-image: url(../../../static/img/star_empty.svg);
        
                        .star-light {
                            height: 100%;
                            background-size: auto 100%;
                            background-image: url(../../../static/img/star_fill.svg);
                        }
                    }
                }
    
                .percent {
                    overflow: hidden;
                    height: 3px;
                    top: -4.5px;
                    margin-left: 100px;
                    position: relative;
                    margin-left: 48%;
                    width: 35vw;
                    border-radius: 50px;
                    background: #393939;
    
                    .percent-light {
                        width: 100%;
                        height: 100%;
                        background: #c7c7c7;
                    }
                }
            }
        }
    
    }
    
    .detail-intro {
        text-align: left;
        background: #ffffff;
        padding-top: 1rem;
    
        .intro-text {
            text-align: justify;
            display: inline-block;
            padding-right: 1rem;
            margin-bottom: .25rem;
            margin-bottom: 1.3vmin;
            font-size: .9rem;
            line-height: 1.6rem;
            color: #333;
            overflow: hidden;
            margin-left: 16px;
        }
    
        .intro-more {
            color: #349cec;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            margin-top: .5rem;
            padding-bottom: 1rem;
        }
    }

    .detail-artist {
        margin-top: 10px;
        background-color: #FFFFFF;

        .artist-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .artist-people {
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-x: scroll;

            ul {
                display: flex;
                justify-content: flex-start;

                li {
                    display: inline-block;
                    margin: 0px .22em;               
                    line-height: 42px;
                    text-align: center;
                    position: relative;
                    text-overflow: ellipsis;
                    word-break: keep-all;

                    span {
                        color: #666666;
                        font-size: .9rem;
                        border-bottom: 2px #FFFFFF solid;
                        padding-bottom: 3px;
                    }
                }

                li:nth-child(1) {
                    padding-left: 14px;
                }

                li:last-child {
                    padding-right: 18px;
                }
            }

            .people-cover {
                width: 5.4375rem;
                width: 23.2vmin;
                height: 7.5rem;
                height: 32vmin;
                background: #ccc 50% no-repeat;
                background-size: cover;
                overflow: hidden;
                margin: 0 auto;
                opacity: 1; transition: opacity 0.5s ease-in;
            }

            .people-name {
                display: block;
                color: #333;
                font-size: .875rem;
                line-height: 1rem;
                margin-top: .7rem;
                max-height: 2rem;
                word-wrap: break-word;
                position: relative;
                width: auto;
                text-align: center;
                max-width: 22vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .people-position {
                color: #999;
                font-size: .75rem;
                width: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                max-width: 22vw;
                text-overflow: ellipsis;
                height: 1rem;
                line-height: 1rem;
            }      
        }

        .artist-people::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
    }

    .detail-album {
        margin-top: 10px;
        background-color: #FFFFFF;


        .album-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .album-wrap {
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-x: scroll;

            ul {
                display: flex;
                justify-content: flex-start;

                li {
                    display: inline-block;
                    margin: 0px .22em;               
                    line-height: 42px;
                    text-align: center;
                    position: relative;
                    text-overflow: ellipsis;
                    word-break: keep-all;

                    span {
                        color: #666666;
                        font-size: .9rem;
                        border-bottom: 2px #FFFFFF solid;
                        padding-bottom: 3px;
                    }
                }

                li:nth-child(1) {
                    padding-left: 14px;

                    .wrap-cover::after {
                        content: "";
                        left: 0;
                        top: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: none;
                        background-image: url('../../../static/img/play.png');
                        background-repeat: no-repeat;
                        background-position: 50%;
                        -webkit-transfrom: scale(.5);
                        -webkit-transform: scale(.5);
                        -ms-transform: scale(.5);
                        transform: scale(.5);
                    }
                }

                li:last-child {
                    padding-right: 18px;
                }
            }

            .wrap-cover {
                width: 52vw;
                height: 16vh;
                background: #ccc 50% no-repeat;
                background-size: cover;
                overflow: hidden;
                margin: 0 auto;
                opacity: 1; transition: opacity 0.5s ease-in;
            }  
            
        }

        .album-wrap::-webkit-scrollbar{
            width: 0;
            height: 0;
        }
    }

    .detail-data {
        margin-top: 10px;
        background-color: #FFFFFF;

        .data-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .data-wrap {
            background-color: #fff;
            border-bottom: 0;
            border-top: 1px solid #eee;

            .wrap-row {
                display: flex;
                border-color: #eee;
                border-width: 0 0 1px;
                border-style: solid;
            }

            .wrap-row:first-child {
                border-width: 1px 0;
                border-color: #eee;
                border-width: 0 0 1px;
                border-style: solid;
            }

            .row-item {             
                flex-grow: 1;
                -webkit-flex-basis: 1;
                -ms-flex-preferred-size: 1;
                flex-basis: 1;
                width: 50%;
                padding: .4rem 0;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;

                .item-icon {
                    -webkit-background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50%;-webkit-flex-shrink: 0;
                    width: 3rem;
                    height: 3.75rem;  
                    margin-left: .4rem;  
                    padding-right: .25rem;       
                    -webkit-transform: scale(.5);
                }

                .item-content {
                    width: 36.3vmin;
                    text-align: left;

                    .content-title {
                        font-size: 15px;
                        color: #222227;
                        font-weight: 500;
                    }

                    .content-desc {
                        height: 1.5rem;
                        height: 6.4vmin;
                        line-height: 1.5rem;
                        line-height: 6.4vmin;
                        width: auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 12px;
                        color: #8a869e;
                    }
                }
                
            }

            .row-divider {
                width: 1px;
                border-width: 0 0 0 1px;
                border-style: solid;
                border-color: #eee;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                -webkit-flex-grow: 0;
                -webkit-box-flex: 0;
                -ms-flex-positive: 0;
                flex-grow: 0;
                -webkit-flex-basis: 1;
                -ms-flex-preferred-size: 1;
                flex-basis: 1;
            }
        }
    }

    .detail-rank {
        margin-top: 10px;
        background-color: #FFFFFF;

        .rank-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .rank-wrap {
            display: flex;

            .wrap-item {
                flex-shrink: 1;
                -webkit-flex-grow: 1;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -webkit-flex-basis: auto;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
                margin-bottom: 1rem;

                h3 {
                    text-align: center;
                    font-size: 26px;
                    color: #50505a;
                    line-height: 48px;
                    font-weight: 300;
                }

                label {
                    text-align: center;
                    display: block;
                    font-size: 12px;
                    color: #8a869e;
                }
            }
        }

    }

    .detail-comment {
        margin-top: 10px;
        background-color: #FFFFFF;

        .comment-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .comment-wrap {
            margin-left: 18px;
            
            .wrap-item {
                position: relative;
                margin-top: .1rem;
                margin-bottom: .3rem;

                .item-avatar {
                    position: absolute;
                    width: 2.1875rem;
                    width: 9.3vmin;
                    height: 2.1875rem;
                    height: 9.3vmin;
                    flex-shrink: 0;
                    border-radius: 100%;
                    background-size: cover;
                    padding: 2px;
                }

                ul:last-child {
                    margin-bottom: -.5rem;
                }
                
                ul {
                    padding-left: 3.125rem;                  
                    padding-bottom: .9375rem;

                    li:last-child {
                        border-bottom: 1px solid #eee;
                        padding-bottom: .9rem;
                    }

                    li {
                        padding-right: 1rem;
                        display: inline-block;
                        width: 100%;

                        .item-username {
                            height: 22px;
                            text-align: left;
                            overflow: hidden;
                            width: 100%;
                            font-size: .9375rem;
                            font-weight: 700;
                            line-height: 22px;
                            color: #50505a;
                            vertical-align: middle;
                            word-break: break-all;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .item-star {
                            margin-top: -.7rem;
                            width: 54.2px;
                            height: 8px;
                            background-size: auto 100%;
                            background-image: url(../../../static/img/star_empty.svg);
            
                            .star-light {
                                height: 100%;
                                background-size: auto 100%;
                                background-image: url(../../../static/img/star_fill.svg);
                            }
                        }

                        .item-comment {
                            color: #333;
                            max-height: 150px; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: justify;
                            font-size: .9rem;
                            line-height: 1.5rem;
                        }

                        .item-extra {
                            margin-top: 2.5vmin;
                            display: -webkit-flex;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            justify-content: space-between;

                            .extra-time {
                                color: #8a869e;
                                font-size: .8125rem;
                                line-height: 1.25rem;
                                flex-basis: auto;
                            }

                            .extra-msg {
                                display: flex;
                                -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                flex-shrink: 0;
                                -webkit-flex-grow: 0;
                                -webkit-box-flex: 0;
                                -ms-flex-positive: 0;
                                flex-grow: 0;
                                -webkit-flex-basis: auto;
                                -ms-flex-preferred-size: auto;
                                flex-basis: auto;
                                color: #8a869e;

                                div {
                                    margin-left: .6rem;

                                    .msg-count {
                                        color: #8a869e;
                                        font-size: .8125rem;
                                        line-height: 1.25rem;
                                        font-size: .8125rem;
                                        line-height: 1.25rem;
                                        text-align: justify;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }

    }

    .detail-topic {
        margin-top: 10px;
        background-color: #FFFFFF;

        .topic-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .topic-wrap {
            padding-bottom: .4rem;

            .wrapper {
                display: flex;
                width: 21.5625rem;
                width: 92vmin;
                height: 11.5625rem;
                height: 49.3vmin;
                margin: 0 auto;
                margin-bottom: 16px;
                background: #50e3c2;
                background-size: cover;
                background-position: 50%;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;

                .content {
                    width: 100%;

                    .title {
                        background-image: url('../../../static/img/topic.svg');
                        display: inline-block;
                        font-size: .8rem;
                        background-size: 1.3rem;
                        background-repeat: no-repeat;
                        color: #fff;
                        position: relative;
                        z-index: 2;
                        padding: 0 5px;
                        padding-left: 1.5rem;
                        height: 20px;
                        line-height: 1.4rem;
                    }

                    .desc {
                        font-size: 1rem;
                        line-height: 2rem;
                        z-index: 2;
                        margin-top: .5rem;
                        position: relative;
                        z-index: 1;
                        color: #fff;
                    }

                    .count {
                        text-align: center;
                        padding-top: 8px;
                        position: relative;
                        z-index: 1;
                        margin: 0 auto;
                        font-size: .6875rem;
                        color: #fff;
                    }
                }
            }

            .wrapper:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                z-index: 1;
            }
        }

    }

    .detail-article {
        margin-top: 10px;
        background-color: #FFFFFF;

        .article-title {
            font-size: .9375rem;
            line-height: 2.2rem;
            text-align: left;
            padding-top: .5rem;
            padding-bottom: .5rem;
            color: #000;
            padding-left: 18px;
        }

        .article-wrap {
            padding-bottom: .5rem;

            .wrap-item:first-child{
                margin-top: 0rem;
            }

            .wrap-item {
                border-bottom: 1px #eee solid;
                display: block;
                margin-top: 1rem;
                background: #fff;
                width: 100%;
                padding-bottom: 8.5rem;             
                height: 8.125rem;
                overflow: hidden;
                position: relative;

                .item-detail {
                    margin-right: 10.3125rem;
                    text-align: left;
                    height: 8.125rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    h3 {        
                        padding-top: .5rem;               
                        color: #222227;
                        font-size: 1rem;
                        font-weight: 400;
                        display: -webkit-box;
                        overflow: hidden;
                        line-height: 1.25;
                        -webkit-flex-shrink: 1;
                        -ms-flex-negative: 1;
                        flex-shrink: 1;
                        flex-grow: 1;
                        margin-left: 1.2rem;
                        flex-basis: auto
                    }

                    .detail-info {
                        flex-shrink: 0;
                        -webkit-flex-grow: 0;
                        -webkit-box-flex: 0;
                        -ms-flex-positive: 0;
                        flex-grow: 0;
                        padding-right: 1rem;
                        -webkit-flex-basis: auto;
                        -ms-flex-preferred-size: auto;
                        flex-basis: auto;
                        display: flex;
                        margin-bottom: .7rem;
                        color: #8a869e;
                        font-size: .6875rem;

                        .info-author {
                            flex-shrink: 1;
                            flex-grow: 1;
                            flex-basis: auto;
                            display: flex;
                            width: 6.25rem;
                            width: 26.7vmin;
                            margin-left: 1.4rem;
                            margin-right: .25rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            .author-avatar {
                                background-position: 50%;
                                background-size: cover;
                                border-radius: 50%;
                                width: 1rem;
                                height: 1rem;
                                margin-right: .4rem;
                            }
                        }
                    }
                }

                .item-cover {
                    position: absolute;
                    right: 16px;
                    top: 8px;
                    z-index: 10;
                    width: 8.4375rem;
                    height: 6.875rem;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-color: #ccc;
                    opacity: 1;
                    transition: opacity 0.5s ease-in;                   
                }
            }
        }
    }

    .detail-buy {
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;

        button {
            width: 100%;
            border-radius: 0;
            display: block;
            font-size: 1rem;
            height: 12vmin;
            line-height: 12vmin;
            user-select: none;
            color: #fff;
            background-color: transparent;
            border: 0;
            background-image: linear-gradient(45deg,#ff7ba0,#ff4d64);
        }
    }
 }
